/* You can add global styles to this file, and also import other style files */
// Full colors
$background: #F9F9F9;
$dark: #1F2029;
$icon_grey: #BABEC2;
$selection_grey: #F7F7F9;
$subtext_grey: #919698;
$grey: #ACB2C1;

// Linear gradients
$green_gradient: linear-gradient(109.73deg, #65CB9A 0%, #15D0DC 100%);
$orange_gradient: linear-gradient(109.73deg, #EDCA4D 0%, #E47005 100%);
$purple_gradient: linear-gradient(109.73deg, #46469C 0%, #7E32E0 100%);

// **** Global styling *** //
html{
  font-size: 16px;
  font-family: 'SF Pro Display', sans-serif;                                                   
  font-style: normal;
  padding-left: 16px;
  padding-right: 16px;
  background-color: $background;
}

h1{
  font-weight: 700;
  font-size: 212%;
  line-height: 41px;
  letter-spacing: 0.37px;
}

textarea:focus, input:focus{
  outline: none;
}

a{
  color: $icon_grey;
}